.primary_tags span, .primary_tags a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.primary_tags a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}
	
.secondary_tags span, .secondary_tags a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.secondary_tags a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#66b8ec;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}

.primary_artists span, .primary_artists a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.primary_artists a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#7e7e7e;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}

.secondary_artists span, .secondary_artists a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.secondary_artists a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#b1b1b1;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}

.primary_series span, .primary_series a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.primary_series a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#51a700;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}
	
.secondary_series span, .secondary_series a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.secondary_series a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#96ca66;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}


.primary_scanalators span, .primary_scanalators a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.primary_scanalators a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#d77a7a;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}
	
.secondary_scanalators span, .secondary_scanalators a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.secondary_scanalators a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#f98d8d;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}

.source_tag span, .source_tag a{
	display: inline-block;
	height:24px;
    line-height:24px;
}
	
.source_tag a{
	height:24px;
	margin-left:5px;
	padding:0 10px 0 12px;
	background:#ffa500;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;	
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;	
	border-top-left-radius:4px;
}

.tag_count{
	color:#efefef;
}

.artist_count{
	color:#efefef;
}

.series_count{
	color:#efefef;
}

.scanalator_count{
	color:#efefef;
}

.tag_holder div{
	display:block;
	overflow:auto;
}